<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletPractice2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>key</param-name>
    <param-value>param-value</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ShowImage</display-name>
    <servlet-name>ShowImage</servlet-name>
    <servlet-class>com.bjsxt.ShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImage</servlet-name>
    <url-pattern>/ShowImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServerInfo</display-name>
    <servlet-name>ShowServerInfo</servlet-name>
    <servlet-class>com.bjsxt.ShowServerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServerInfo</servlet-name>
    <url-pattern>/ShowServerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadInitConfig</display-name>
    <servlet-name>ReadInitConfig</servlet-name>
    <servlet-class>com.bjsxt.ReadInitConfig</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadInitConfig</servlet-name>
    <url-pattern>/ReadInitConfig.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowConfig</display-name>
    <servlet-name>ShowConfig</servlet-name>
    <servlet-class>com.bjsxt.ShowConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowConfig</servlet-name>
    <url-pattern>/ShowConfig.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfigDemo</display-name>
    <servlet-name>ServletConfigDemo</servlet-name>
    <servlet-class>com.bjsxt.ServletConfigDemo</servlet-class>
    <init-param>
      <param-name>ServletConfigDemo-key</param-name>
      <param-value>ServletConfigDemo-value</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo</servlet-name>
    <url-pattern>/ServletConfigDemo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstCookie</display-name>
    <servlet-name>FirstCookie</servlet-name>
    <servlet-class>com.bjsxt.FirstCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstCookie</servlet-name>
    <url-pattern>/FirstCookie.do</url-pattern>
  </servlet-mapping>
</web-app>