<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletPractice1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Demo1</display-name>
    <servlet-name>Demo1</servlet-name>
    <servlet-class>com.bjsxt.Demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1</servlet-name>
    <url-pattern>/Demo1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHeader</display-name>
    <servlet-name>GetHeader</servlet-name>
    <servlet-class>com.bjsxt.GetHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHeader</servlet-name>
    <url-pattern>/GetHeader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseImage</display-name>
    <servlet-name>ResponseImage</servlet-name>
    <servlet-class>com.bjsxt.ResponseImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseImage</servlet-name>
    <url-pattern>/ResponseImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownload</display-name>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>com.bjsxt.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/FileDownload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo</display-name>
    <servlet-name>ResponseDemo</servlet-name>
    <servlet-class>com.bjsxt.ResponseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo</servlet-name>
    <url-pattern>/ResponseDemo.do</url-pattern>
  </servlet-mapping>
</web-app>